body{
font-family:Arial;
margin:30px;
}

textarea{
width:300px;
height:120px;
}

table{
border-collapse:collapse;
margin-top:10px;
}

td,th{
border:1px solid #ccc;
padding:6px 10px;
}

.friday{
background:#ffecec;
}

.dark{
background:#111;
color:white;
}

.dark table{
border-color:#444;
}